input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.car-item-update {
    display: none;
}

.car-item-update .input-group .input-group-prepend .input-group-text {
    width: 110px;
}

.car-item-update .input-group select {
    width: 1000px;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

img {
    width: 100px;
    height: 100px;
}

.operate div {
    margin-top: 10px;
}

.float-msg {
    background-color: grey;
    line-height: 50px;
    text-align: center;
    height: 50px;
    width: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 20px;
    border: solid grey 1px;
    border-radius: 10px;
    display: none;
}
