.col-sm {
    border: solid #000 1px;
    border-radius: 5px;
    margin: 10px 20px;
}

.input-group {
    width: 400px;
    margin: 25px 10px;
}

.input-group-text {
    width: 100px;
    background-color: #222222;
    color: #ffffff;
}

button {
    margin: 0 auto;
    border: solid #fff 1px;
    border-radius: 5px;
    color: #fff;
    width: 200px;
    height: 35px;
}

.error-wrapper {
    display: none;
}

.address-item-update {
    display: none;
}