<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.zhoutt.mall.dao.IProductMapper">
    <resultMap id="productMap" type="edu.zhoutt.mall.pojo.Product">
        <id column="id" property="id"/>
        <result column="is_down" property="isDown"/>
        <result column="category_id" property="categoryId"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <sql id="productColumns">
        `id`, `name`, `image`, `price`, `description`, `is_down`, `total`, `sell`,`category_id`, `create_time`, `update_time`
    </sql>

    <select id="findPageByCategoryAndKeyword" resultMap="productMap">
        SELECT
        <include refid="productColumns"/>
        FROM product
        <where>
            <if test="categoryIds != null">
                AND `category_id` IN
                <foreach collection="categoryIds" open="(" separator="," close=")" item="categoryId">
                    #{categoryId}
                </foreach>
            </if>
            <if test="@edu.zhoutt.mall.util.StringUtil@hasText(keyword)">
                AND `name` LIKE #{keyword}
            </if>
        </where>
    </select>

    <select id="findPageBySellDesc" resultMap="productMap">
        SELECT
        <include refid="productColumns"/>
        FROM product
        ORDER BY `update_time` DESC , `sell` DESC
    </select>

</mapper>