<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.zhoutt.mall.dao.IUserMapper">
    <resultMap id="userMap" type="edu.zhoutt.mall.pojo.User">
        <id column="id" property="id"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <update id="update" parameterType="edu.zhoutt.mall.pojo.User">
        UPDATE `user`
        SET
            `username`    = #{user.username},
            `password`    = #{user.password},
            `role`        = #{user.role},
            `update_time` = #{user.updateTime}
        WHERE
            `id` = #{user.id}
    </update>

</mapper>